

<h1>Welcome to SurfBuddy</h1>
  <p class="intro">A place to help you shred more, cuz you're worth it</p>

  <h1 id="login" class="subheader">Log In</h1>  

    <%= form_tag sessions_path do %>
   
      <%= label_tag :email  %><br />
      <%= text_field_tag :email, params[:email], title: "Enter email here", data: {tooltip: true} %>

      <%= label_tag :password %><br />
      <%= password_field_tag :password %>

      <%= submit_tag "Log In" %> </br>
      </br>

      <h3 class="or">OR</h3>

     <%= link_to "Google", '/auth/google' %></br>

    
    
      
    <% end %>

     
