    
   <h3 id="create" class="subheader"> <%= link_to "Create New Post", controller: "posts", action: "new" %></h3>

    
      <div class="feed">
        
          <% @posts.reverse.each do |post| %>
          <div class="post">
          <h4 class="subheader"><%= post.created_at.strftime('%b %e %Y %l:%M %P') %></h4> 
          <h3 id="b"><small><%= link_to post.user.try(:name), post.user %> posts:</small></h3>
          <h3 id="a"><small><%= post.title.capitalize %></small></h3>

          <p><%= post.body.capitalize %> </p>
          <%= link_to "Add Comment", controller: "comments", action: "new", id: post.id%> </br>
        
     
          <% if post.comments.any?  %>
            <% post.comments.each do |comment| %>
          <h6 class="subheader"><%= link_to comment.user.try(:name), comment.user %>: <%= comment.body %> </h6> 
        
            <% end %>
            
            <% end %>
            </div>
            <% end %>

      </div>




