    
   <h3 class="subheader"> <%= link_to "Create New Post", controller: "posts", action: "new" %></h3>

    
      <div class="feed">
        
          <% @posts.reverse.each do |post| %>
          <div class="post">
          <%= post.created_at.strftime('%b %e %Y %l:%M %P') %> </br>
          <%= link_to post.user.try(:name), post.user %>
          <h5> <%= post.title.capitalize %></h5>

          <h5 class="subheader"><%= post.body %> </h5>
          <%= link_to "Add Comment", controller: "comments", action: "new", id: post.id%> </br>
        
     
          <% if post.comments.any?  %>
            <% post.comments.each do |comment| %>
          <h6 class="subheader"><%= link_to comment.user.try(:name), comment.user %>: <%= comment.body %> </h6> 
        
            <% end %>
            </div>
            <% end %>
            <% end %>

      </div>




