    
   <h3 class="subheader"> <%= link_to "Create New Post", controller: "posts", action: "new" %></h3>

    <table>
      <% @posts.reverse.each do |post| %>
      <tr>
          
        <td><%= post.created_at.to_s(:short) %></td>
        <td><%= link_to post.user.try(:name), post.user %></td>
        <td><%= post.title %></td>

        <td><%= post.body %> </td>
        <td><%= link_to "Add Comment", controller: "comments", action: "new", id: post.id%> </td>
        
        <td> <% if post.comments.any?  %>
             <% post.comments.each do |comment| %>
              <%= comment.body %>
              <% end %>
            <% end %>
        </td>



      </tr>

      
    <% end %>
  </table>



